.App {
  text-align: center;
  background-color: hsl(200, 13%, 5%);
  min-height: 110vh;
  color: #e7e7e7;
}

 body {
  background-color: #0A0C0D;
}

.content {
  display: flex;
  flex-direction: row;
}